name: Build and Package

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-2019

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v2

    - name: Build Solution
      run: |
        msbuild nim_win_demo/nim.sln /p:Configuration=Release /p:Platform=Win32 /m

    - name: Set up Inno Setup
      run: |
        choco install innosetup

    - name: Compile Inno Setup Script
      run: |
        iscc "@publish/default.iss"

    - name: Upload Installer
      uses: actions/upload-artifact@v4
      with:
        name: IM-Installer
        path: "@publish/*.exe"
